body {
  background-color: lightblue;
}
.chef {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.mainheading {
  color: white;
  text-align: center;
  font-weight: bold;
}
